In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mylist = list('abc')
myarr = np.arange(3)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [ ]:
print(ser1,'\n')
print(ser2,'\n')
print(ser3,'\n')

In [ ]:
ser4 = pd.Series([100, 200, 150], index=['apple', 'banana', 'peach'])
ser4

In [ ]:
ser4['banana']

In [ ]:
ser4[1]

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(data,index = labels)
df

In [ ]:
df.iloc[:3]
df.head(3)

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    columns=['a', 'b', 'c'])
df2

In [ ]:
df3 = df2[["a","b","c"]].copy()
df3

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
df2

In [ ]:
s_1 = pd.Series(data['animal'])
s_2 = pd.Series(data['age'])
s_3 = pd.Series(data['visits'])
s_4 = pd.Series(data['priority'])
df = pd.DataFrame([s_1,s_2,s_3,s_4])
df

In [ ]:
df.columns=['a','b','c','d','e','f','g','h','i','j']
df.index=['A','B','C','D']
df

In [ ]:
df['a']

In [ ]:
df[['b','e','f']]

In [ ]:
df['c']['B']

In [ ]:
df.iloc[0:1] #较为规范

In [ ]:
df.iloc[0]   #硬要这样俺也没办

In [ ]:
df.iloc[:,[2]]

In [ ]:
df.iloc[0:3,2:6]

In [ ]:
df.iloc[[0,3],[2,3,7]]

In [ ]:
df.loc['A'] #选取A行

In [ ]:
df.loc[:,'c'] #选取c列

In [ ]:
df.loc[['A','C'],['c','e','f']] #选取A,C列，c,e,f行相交数据

In [ ]:
df.loc[df['c']=='snake'] #选取c列中内容为snake的行数据

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
s_1 = pd.Series(data['animal'])
s_2 = pd.Series(data['age'])
s_3 = pd.Series(data['visits'])
s_4 = pd.Series(data['priority'])
df = pd.DataFrame([s_1,s_2,s_3,s_4])
df

In [ ]:
df.columns=['a','b','c','d','e','f','g','h','i','j']
df.index=['A','B','C','D']
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df['e'].dtype

In [ ]:
df.isnull()

In [ ]:
df['h'].isnull()

In [ ]:
df['a'].unique()

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.head(5)

In [ ]:
df.tail(3)

In [ ]:
df.loc[df.index[[1,3]], ['d','f']]

In [ ]:
df[df['d'].isnull()]

In [ ]:
#删除数据表中含有空值的行
df.dropna(how='any')

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df['b'].drop_duplicates()

In [ ]:
s_1 = pd.Series(data['animal'])
s_2 = pd.Series(data['age'])
s_3 = pd.Series(data['visits'])
s_4 = pd.Series(data['priority'])
df = pd.DataFrame([s_1,s_2,s_3,s_4])
df

In [ ]:
df.columns=['a','b','c','d','e','f','g','h','i','j']
df.index=['A','B','C','D']
df

In [ ]:
df=df.T

In [ ]:
df

In [ ]:
df.dropna(how='any')

In [ ]:
df.fillna(value=0)

In [ ]:
df['B'].fillna(df['B'].mean())

In [ ]:
df

In [ ]:
df['A']=df['A'].str.upper()

In [ ]:
df

In [ ]:
df['C'].astype('str')

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
df = pd.DataFrame([s_1,s_2,s_3,s_4])
df.columns=['a','b','c','d','e','f','g','h','i','j']
df.index=['A','B','C','D']
df=df.T

In [ ]:
df

In [ ]:
df['C']=df['C'].astype('int')

In [ ]:
df.dtypes

In [ ]:
df.rename(columns={'A': 'Name','C':'Age'})

In [ ]:
df.rename(index={'e': 'eee'})

In [ ]:
df['A'].drop_duplicates(keep='last')

In [ ]:
df['D'].replace('yes', 'true')

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df=df.fillna(value=0)

In [ ]:
df

In [ ]:
df.sort_values(by=['C'])

In [ ]:
df.sort_values(by=['B'],ascending=False)

In [ ]:
df.A

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df2=pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006,1007,1008],
"gender":['male','female','male','female','male','female','male','female'],
"pay":['Y','N','Y','Y','N','Y','N','Y',],
"m-point":[10,12,20,40,40,40,30,20]})
df2

In [ ]:
df1 = pd.DataFrame({"id":[1001,1002,1003,1004,1005,1006],
"date":pd.date_range('20130102', periods=6),
"city":['Beijing ', 'SH', ' guangzhou ', 'Shen zhen', 'shanghai', 'BEIJING '],"age":[23,44,54,32,34,32],
"category":['100-A','100-B','110-A','110-C','210-A','130-F'],"price":[1200,np.nan,2133,5433,np.nan,4432]},
columns =['id','date','city','category','age',
'price'])
df1

In [ ]:
df_inner=pd.merge(df1,df2,how='inner')
df_inner

In [ ]:
df_outer=pd.merge(df1,df2,how='outer')
df_outer

In [ ]:
df_left=pd.merge(df1,df2,how='left')
df_left

In [ ]:
df_right=pd.merge(df1,df2,how='right')
df_right

In [ ]:
df3=df_inner.set_index('city')
df3

In [235]:
dfi=pd.merge(df1,df2,how='inner')
dfi['city']=df_inner['city'].str.lower()
dfi['price']=df_inner['price'].fillna(df_inner['price'].mean())
dfi[1,2]='shanghai'
dfi

,id,date,city,category,age,price,gender,pay,m-point,"(1, 2)"
0,1001,2013-01-02,beijing,100-A,23,1200.0,male,Y,10,shanghai
1,1002,2013-01-03,sh,100-B,44,3299.5,female,N,12,shanghai
2,1003,2013-01-04,guangzhou,110-A,54,2133.0,male,Y,20,shanghai
3,1004,2013-01-05,shen zhen,110-C,32,5433.0,female,Y,40,shanghai
4,1005,2013-01-06,shanghai,210-A,34,3299.5,male,N,40,shanghai
5,1006,2013-01-07,beijing,130-F,32,4432.0,female,Y,40,shanghai